/* General Styling */
body {
    font-family: monospace;
}

div {
    display: block;
    margin: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
    text-align: right;
}

input {
    font-size: 1em;
}

button {
    font-size: 1em;
    width: 6em;
    height: 1em;
    text-align: center;
}

/* Specific Styling */

input[type=text] {
    width: 6em;
    height: 1em;
    text-align: right;
}